<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.my.mapper.CowFetationLogMapper">
    <resultMap id="BaseResultMap" type="com.sxmaps.my.model.CowFetationLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="farmers_uid" jdbcType="BIGINT" property="farmersUid"/>
        <result column="cow_uid" jdbcType="BIGINT" property="cowUid"/>
        <result column="fetation_time" jdbcType="DATE" property="fetationTime"/>
        <result column="childbirth_time" jdbcType="DATE" property="childbirthTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="getFetationLog" parameterType="long" resultMap="BaseResultMap">
        select
            *
        from
            cow_fetation_log
        where
            cow_uid = #{cowUid}
            and childbirth_time is null
    </select>
    <select id="statisticsFetation" parameterType="String" resultType="com.sxmaps.my.vo.resp.cow.RespCowAddVO">
        SELECT
            farmers_uid farmersUid,
            count(1) num
        FROM
            cow_fetation_log
        WHERE
            fetation_time = #{day}
            GROUP BY farmers_uid
    </select>
    <select id="statisticsChildbirth" parameterType="String" resultType="com.sxmaps.my.vo.resp.cow.RespCowAddVO">
        SELECT
            farmers_uid farmersUid,
            count(1) num
        FROM
            cow_fetation_log
        WHERE
            childbirth_time = #{day}
            GROUP BY farmers_uid
    </select>
</mapper>