<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.my.mapper.CowIllLogMapper">
  <resultMap id="BaseResultMap" type="com.sxmaps.my.model.CowIllLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="cow_uid" jdbcType="BIGINT" property="cowUid" />
    <result column="ill_time" jdbcType="DATE" property="illTime" />
    <result column="cure_time" jdbcType="DATE" property="cureTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="getIllLog" parameterType="long" resultMap="BaseResultMap">
    select
        *
    from
        cow_ill_log
    where
        cow_uid = #{cowUid}
        and cure_time is null
  </select>
</mapper>