<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.my.mapper.EarningsTypeMapper">
  <resultMap id="BaseResultMap" type="com.sxmaps.my.model.EarningsType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="earnings_name" jdbcType="VARCHAR" property="earningsName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="getEarningsTypeBySaleCow" resultMap="BaseResultMap">
    select
        *
    from
        earnings_type
    where
        earnings_name = "售牛"
  </select>
  <select id="getTypeAll" resultType="com.sxmaps.my.vo.resp.earnings.RespEarningsTypeAllVO">
    select
        uid  earningsTypeUid,
        earnings_name earningsName
    from
        earnings_type
    where
        1=1
    </select>
  <select id="getTypes" parameterType="com.sxmaps.my.vo.req.earnings.ReqEarningsTypeListVO"
          resultType="com.sxmaps.my.vo.resp.earnings.RespEarningsTypeListVO">
    select
        uid earningsTypeUid,
        earnings_name earningsName,
        create_time createTime
    from
        earnings_type
    where
        1=1
        <if test="earningsName != null and earningsName != ''">
          and earnings_name = #{earningsName}
        </if>
  </select>
</mapper>