<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.MmsCallBackMapper">
  <resultMap id="BaseResultMap" type="com.sxmaps.mms.model.MmsCallBack">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="resubmit_uid" jdbcType="BIGINT" property="resubmitUid" />
    <result column="consult_id" jdbcType="VARCHAR" property="consultId" />
    <result column="consult_name" jdbcType="VARCHAR" property="consultName" />
    <result column="next_call_time" jdbcType="TIMESTAMP" property="nextCallTime" />
    <result column="call_record" jdbcType="VARCHAR" property="callRecord" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>