<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.MmsOpinionMapper">
	<resultMap id="BaseResultMap" type="com.sxmaps.mms.model.MmsOpinion">
		<!-- WARNING - @mbg.generated -->
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<id column="views" jdbcType="VARCHAR" property="views" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="state" jdbcType="VARCHAR" property="state" />
	</resultMap>

	<!-- 查询点评项是否存在 -->
	<select id="qryOpinionViews" resultType="java.lang.Integer"
		parameterType="com.sxmaps.mms.vo.req.ReqOpinionVO">
		SELECT
		count(1)
		FROM
		mms_opinion a
		WHERE
		a.views = #{views,jdbcType=VARCHAR}
		<if test="uid != null and uid!=''">
			AND a.uid!=#{uid,jdbcType=BIGINT}
		</if>
	</select>
	<!-- 查询点评信息 -->
	<select id="findOpinion" resultType="com.sxmaps.mms.vo.resp.RespOpinionVO">
		SELECT
		a.uid,
		a.views
		FROM
		mms_opinion a
		WHERE
		a.state = '1'
	</select>
</mapper>