<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.MmsResubmitEvaluateMapper">
    <resultMap id="BaseResultMap" type="com.sxmaps.mms.model.MmsResubmitEvaluate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="resubmit_uid" jdbcType="BIGINT" property="resubmitUid"/>
        <result column="member_uid" jdbcType="VARCHAR" property="memberUid"/>
        <result column="consult_id" jdbcType="VARCHAR" property="consultId"/>
        <result column="consult_name" jdbcType="VARCHAR" property="consultName"/>
        <result column="evaluate_rank" jdbcType="INTEGER" property="evaluateRank"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>

    <select id="getMemberEvaluateByPage" parameterType="com.sxmaps.mms.vo.req.ReqResubmitPageVO"
            resultType="com.sxmaps.mms.vo.resp.RespMemberEvaluateVO">
        SELECT
            mrm.`uid` uid,
            mrm.`member_uid` memberUid,
            m.`true_name` trueName,
            m.cellphone cellPhone,
            mrm.first_update_time firstUpdateTime,
            mrm.`order_time` orderTime,
            m.`area_name` areaName,
            mrm.`create_time` createTime,
            mrm.`college_name` collegeName,
            mrm.`department_name` departmentName,
            mrm.`level_type_name` levelTypeName,
            mrm.`update_time` updateTime,
            mrm.`teacher_name` teacherName
        FROM
            `mms_resubmit_member` mrm,
            `member` m
        <where>
            m.uid = mrm.member_uid AND mrm.consult_id = #{userId}
            <if test="trueName != null and trueName != ''">
                and m.true_name LIKE CONCAT('%',#{trueName},'%')
            </if>
            <if test="cellPhone != null and cellPhone != ''">
                and m.cellphone = #{cellPhone}
            </if>
            <if test="collegeUid != null">
                and mrm.college_uid = #{collegeUid}
            </if>
            <if test="departmentName != null and departmentName != ''">
                and mrm.department_name = #{departmentName}
            </if>
            <if test="levelTypeUid != null">
                and mrm.level_type_uid = #{levelTypeUid}
            </if>
            <if test="areaName != null and areaName != ''">
                and mrm.area_name LIKE CONCAT('%',#{areaName},'%')
            </if>
            <if test="startOrderTime != null and startOrderTime != '' and endOrderTime != null and endOrderTime != ''">
                and mrm.order_time BETWEEN #{startOrderTime} AND #{endOrderTime}
            </if>
            <if test="startAssignTime != null and startAssignTime != '' and endAssignTime != null and endAssignTime != ''">
                and (mrm.update_time BETWEEN #{startAssignTime} AND #{endAssignTime})
            </if>
        </where>
    </select>

    <select id="getEvaluateByMitUid" resultType="map">
        SELECT `resubmit_uid` resubmitUid,FORMAT(AVG(`evaluate_rank`),1) evaluateRank FROM `mms_resubmit_evaluate` WHERE
        resubmit_uid in
        <foreach collection="resubmitUids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        GROUP BY `resubmit_uid`
    </select>

    <select id="getHistoryEvaluate" resultType="com.sxmaps.mms.vo.resp.RespEvaluateRantVO">
  	SELECT `consult_name` AS userName,create_time AS createTime, `evaluate_rank` evaluateRank FROM mms_resubmit_evaluate WHERE member_uid = #{memberUid}
  </select>

    <select id="getEvaluateRant" resultType="com.sxmaps.mms.vo.resp.RespEvaluateRantVO">
  		SELECT COUNT(member_uid) evaluateCount,`resubmit_uid` resubmitUid,FORMAT(AVG(`evaluate_rank`),1) avgRank,MAX(`create_time`) createTime  FROM `mms_resubmit_evaluate` WHERE member_uid = #{memberUid}
  </select>
</mapper>