<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.MmsScoreStarMapper">
	<resultMap id="BaseResultMap" type="com.sxmaps.mms.model.MmsScoreStar">
		<!-- WARNING - @mbg.generated -->
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<result column="score_key" jdbcType="DOUBLE" property="scoreKey" />
		<result column="score_name" jdbcType="VARCHAR" property="scoreName" />
		<result column="state" jdbcType="VARCHAR" property="state" />
	</resultMap>
	<select id="qryScoreStar" resultType="com.sxmaps.mms.vo.resp.RespScoreStarVO">
		SELECT
		a.uid,
		a.score_key AS
		scoreKey,
		a.score_name AS scoreName
		FROM
		mms_score_star a
		WHERE
		a.state = 1
	</select>

	<select id="qryProtocolByProLevel" parameterType="com.sxmaps.mms.vo.req.ReqProtocolLevelVO"
		resultType="com.sxmaps.mms.vo.resp.RespProtocolLevelVO">
	<if test="itemId!=null and itemId!=''">
	SELECT 
	  c.contract_name proName,
	  c.content,
	  IFNULL(c.versions,1.0) version,
	  c.level_type_id levelId,
	  c.level_type_name levelName,
	  c.supply_protocol supplyProtocol,
	  c.sign_url signUrl,
	  DATE_FORMAT(IFNULL(c.sign_time,c.create_time),'%Y-%m-%d') signTime,
	  c.contract_name contractName
	FROM
	  orders_member_contract c 
	WHERE c.order_item_id = #{itemId} 
	AND c.state = '1'
	</if>
	<if test="itemId==null or itemId==''">
	SELECT 
	  p.pro_name proName,
	  p.content,
	  p.version,
	  p.pro_level levelId,
	  s.supply_protocol supplyProtocol
	FROM
	  pms_protocol p
	  INNER JOIN pms_protocol_sku ls ON ls.protocol_uid = p.uid
	  INNER JOIN pms_product_sku s ON s.uid = ls.sku_uid 
	WHERE p.state = 1
	  <if test="productUid != null and productUid != '' ">
	  AND s.product_uid = #{productUid}
	  </if>
	  <if test="classTypeUid != null and productUid != '' ">
	  AND s.class_type_uid = #{classTypeUid}
	  </if>
	ORDER BY p.version DESC 
	LIMIT 1 
	</if>
	</select>
	
	<!-- 根据子订单号查看协议详情  -->
	<select id="qryProtocolByOrderItemSn" resultType="com.sxmaps.mms.vo.resp.RespProtocolVO">
   SELECT 
	  c.contract_name proName,
	  c.content,
	  IFNULL(c.versions, 1.0) version,
	  c.level_type_id levelId,
	  c.level_type_name levelName,
	  c.supply_protocol supplyProtocol,
	  m.cellphone cellphone,
	  m.cellphone loginName,
      RIGHT(m.cellphone,6) loginPwd,
	  m.email,
	  m.id_card idCard,
	  m.true_name trueName,
	  p.department_name departmentName,
	  p.class_type_name classTypeName,
	  p.college_name collegeName,
	  p.order_pay costFee,
	  p.level_type_name levelTypeName,
	  p.order_pay paidAmount,
	  i.remark,
	  c.uid contractId,
	  c.sign_url signUrl,
	  DATE_FORMAT(IFNULL(c.sign_time,c.create_time),'%Y-%m-%d') signTime
	FROM
	  orders_member_contract c,
	  orders_member_prop p,
	  orders_item i,
	  member m 
	WHERE p.order_item_sn = c.order_item_sn 
	  AND p.order_item_sn = i.order_item_sn 
	  AND m.uid = p.member_uid
	  AND c.state = '1' 
	  AND p.state = '1'
	  AND i.state = 1
	  AND c.order_item_sn = #{orderItemSn}
	  AND p.service_state != 4 
	</select>
	<!-- 根据子订单号查看协议详情-电审之前获取  -->
	<select id="qryProtocolByOrderItemSn2" resultType="com.sxmaps.mms.vo.resp.RespProtocolInfoVO">
	   SELECT
	   i.order_sn orderSn,
	   i.uid orderItemSn,
		c.contract_name proName,
		c.content,
		IFNULL( c.versions, 1.0 ) version,
		c.level_type_id levelId,
		c.level_type_name levelName,
		c.supply_protocol supplyProtocol,
		m.cellphone cellphone,
		m.cellphone loginName,
		RIGHT ( m.cellphone, 6 ) loginPwd,
		m.email,
		m.id_card idCard,
		m.true_name trueName,
		i.department_name departmentName,
		i.class_type_name classTypeName,
		i.college_name collegeName,
		i.paid_amount costFee,
		i.level_type_name levelTypeName,
		i.paid_amount paidAmount,
		i.remark,
		c.uid contractId,
		c.sign_url signUrl,
		DATE_FORMAT( IFNULL( c.sign_time, c.create_time ), '%Y-%m-%d' ) signTime
	FROM
		orders_member_contract c
		LEFT JOIN orders_item i ON i.order_item_sn = c.order_item_sn
		LEFT JOIN member m ON m.uid = c.member_id
	WHERE
		c.state = '1'
		AND i.state = 1
		AND c.order_item_sn = #{orderItemSn}
	</select>
	 <select id="qryFirstPayByOrderSn" resultType="java.math.BigDecimal">
    	SELECT 
    		CONVERT(SUM(paid_amount) * #{percent},DECIMAL(10,2))
    	FROM
    		orders_pay_record
    	WHERE
    		order_sn=#{orderSn}
    		AND pay_state = 'PAID'
    		AND pay_way in ('WXPAY','ALIPAY','POS','CARD','WXJSAPI')
    		AND state = 1
    </select>
    
    <select id="qryLoanPayByOrderSn" resultType="java.math.BigDecimal">
    	SELECT 
    		CONVERT(SUM(paid_amount) * #{percent},DECIMAL(10,2))
    	FROM
    		orders_pay_record
    	WHERE
    		order_sn=#{orderSn}
    		AND pay_state = 'PAID'
    		AND pay_way in ('BAIDU','HAIMI','HUI','R360','COFFEE','KU','ZYXF','LB','BS','F91','JD','CMBC','JK')
    		AND state = 1
    </select>
    
    <select id="qryItemAmountAndPaidAmount" parameterType="String" resultType="java.util.Map">
    	select o.order_sn orderSn,o.paid_amount paidAmount,i.paid_amount itemAmount,i.uid FROM orders_item i INNER JOIN orders o ON i.order_sn = o.order_sn WHERE i.order_item_sn = #{orderItemSn}
    </select>
    
    <select id="countOrderItemByOrderSn" parameterType="String" resultType="int">
    	SELECT count(uid) FROM orders_member_prop WHERE order_sn=#{orderSn}
    </select>
    
    <select id="countExchangedContract" resultType="java.lang.Integer">
    	SELECT count(uid) FROM orders_member_contract WHERE order_item_id=#{orderItemId} and state = 2
    </select>
</mapper>