<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.MmsSettingMapper">
  <resultMap id="BaseResultMap" type="com.sxmaps.mms.model.MmsSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="op_code" jdbcType="VARCHAR" property="opCode" />
    <result column="op_name" jdbcType="VARCHAR" property="opName" />
    <result column="cate_id" jdbcType="BIGINT" property="cateId" />
    <result column="cate_code" jdbcType="VARCHAR" property="cateCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <!-- 查询类别名称是否存在 -->
	<select id="qrySettingName" parameterType="com.sxmaps.mms.vo.req.ReqSettingNameVO"
		resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		mms_setting a
		WHERE
		a.op_name =
		#{opName,jdbcType=VARCHAR}
		<if test="uid != null and uid!=''">
			AND a.uid!=#{uid,jdbcType=BIGINT}
		</if>
	</select>
	<!-- 根据类型ID查询类别值 -->
	<select id="qrySettingByCategoryId" parameterType="com.sxmaps.mms.vo.req.ReqMmsQueryVO"
		resultType="com.sxmaps.mms.vo.resp.RespSettingVO">
		SELECT
		a.uid AS settingUid,
		a.op_code AS opCode,
		a.op_name AS
		opName
		FROM
		mms_setting a
		WHERE
		a.state = '1'
		AND a.cate_id =
		#{uid,jdbcType=BIGINT}
	</select>
	<!--查询类别信息 -->
	<select id="findSetting" resultType="com.sxmaps.mms.vo.resp.RespSettingVO">
		SELECT
		a.uid AS settingUid,
		a.op_code AS opCode,
		a.op_name AS
		opName
		FROM
		mms_setting a
		WHERE
		a.state = '1'
	</select>
</mapper>