<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.MmsTrackReservationMapper">
	<resultMap id="BaseResultMap" type="com.sxmaps.mms.model.MmsTrackReservation">
		<!-- WARNING - @mbg.generated -->
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<result column="track_log_uid" jdbcType="BIGINT" property="trackLogUid" />
		<result column="flow_uid" jdbcType="BIGINT" property="flowUid" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="school_uid" jdbcType="INTEGER" property="schoolUid" />
		<result column="school_name" jdbcType="VARCHAR" property="schoolName" />
		<result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
		<result column="coupon_uid" jdbcType="BIGINT" property="couponUid" />
		<result column="other_price" jdbcType="VARCHAR" property="otherPrice" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="is_conform" jdbcType="TINYINT" property="isConform" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="state" jdbcType="TINYINT" property="state" />
		<result column="reservation_date" jdbcType="TIMESTAMP"
			property="reservationDate" />
		<result column="rec_item_uid" jdbcType="INTEGER" property="recItemUid" />
		<result column="rec_item_name" jdbcType="VARCHAR" property="recItemName" />
		<result column="rec_level_uid" jdbcType="INTEGER" property="recLevelUid" />
		<result column="rec_level_name" jdbcType="VARCHAR" property="recLevelName" />
		<result column="rec_school_uid" jdbcType="INTEGER" property="recSchoolUid" />
		<result column="rec_school_name" jdbcType="VARCHAR" property="recSchoolName" />
		<result column="rec_profession_uid" jdbcType="INTEGER"
			property="recProfessionUid" />
		<result column="rec_profession_name" jdbcType="VARCHAR"
			property="recProfessionName" />
		<result column="rec_commodity_uid" jdbcType="INTEGER" property="recCommodityUid" />
		<result column="rec_commodity_name" jdbcType="VARCHAR"
			property="recCommodityName" />
		<result column="rec_class_uid" jdbcType="INTEGER" property="recClassUid" />
		<result column="rec_class_name" jdbcType="VARCHAR" property="recClassName" />
	</resultMap>

	<!-- 查询预约单列表 -->
	<select id="qryInfoTrackReservation" resultType="com.sxmaps.mms.vo.resp.RespTrackReservationVO"
		parameterType="com.sxmaps.mms.vo.TrackReservationVO">
		SELECT
		a.uid,
		a.track_log_uid AS trackLogUid,
		a.flow_uid AS
		flowUid,
		a.sex,
		a.school_uid AS schoolUid,
		a.school_name AS schoolName,
		a.coupon_price AS couponName,
		a.coupon_uid AS couponUid,
		a.other_price
		AS otherPrice,
		a.phone,
		a.is_conform AS isConform,
		a.create_date AS
		createDate,
		a.update_date AS updateDate,
		a.state,
		a.reservation_date AS
		reservationDate,
		a.rec_item_uid AS recItemUid,
		a.rec_item_name AS
		recItemName,
		a.rec_level_uid AS recLevelUid,
		a.rec_level_name AS
		recLevelName,
		a.rec_school_name AS recSchoolName,
		a.rec_school_uid AS
		recSchoolUid,
		a.rec_profession_uid AS recProfessionUid,
		a.rec_profession_name AS recProfessionName,
		a.rec_commodity_uid AS
		recCommodityUid,
		a.rec_commodity_name AS recCommodityName,
		a.rec_class_uid AS recClassUid,
		a.rec_class_uid AS recClassName
		FROM
		mms_track_reservation a
		WHERE
		1=1
		<if test="schoolUid != null and schoolUid !=''">
			AND a.school_uid=#{schoolUid,jdbcType=INTEGER}
		</if>
	</select>
</mapper>