<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.OrdersMemberFeedMapper">
	<resultMap id="BaseResultMap" type="com.sxmaps.mms.model.OrdersMemberFeed">
		<!-- WARNING - @mbg.generated -->
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<result column="member_id" jdbcType="VARCHAR" property="memberId" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="record_id" jdbcType="VARCHAR" property="recordId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	
	<select id="qryStudentList" resultType="com.sxmaps.mms.vo.resp.RespStudentListVO">
		SELECT
		a.uid,
		a.member_id AS memberId,
		a.phone,
		a.record_id AS recordId,
		a.create_time AS createTime
		FROM
		orders_member_feed a
	</select>
</mapper>