<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.mms.mapper.OrdersMemberPropMapper">
	<resultMap id="BaseResultMap" type="com.sxmaps.mms.model.OrdersMemberProp">
		<!-- WARNING - @mbg.generated -->
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<result column="member_uid" jdbcType="BIGINT" property="memberUid" />
		<result column="order_uid" jdbcType="BIGINT" property="orderUid" />
		<result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
		<result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
		<result column="order_item_sn" jdbcType="VARCHAR" property="orderItemSn" />
		<result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
		<result column="order_pay" jdbcType="DECIMAL" property="orderPay" />
		<result column="order_act_pay" jdbcType="DECIMAL" property="orderActPay" />
		<result column="biz_state_new" jdbcType="VARCHAR" property="bizStateNew" />
		<result column="biz_state_old" jdbcType="VARCHAR" property="bizStateOld" />
		<result column="biz_type_new" jdbcType="VARCHAR" property="bizTypeNew" />
		<result column="biz_type_old" jdbcType="VARCHAR" property="bizTypeOld" />
		<result column="product_uid" jdbcType="BIGINT" property="productUid" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="product_img" jdbcType="VARCHAR" property="productImg" />
		<result column="product_price" jdbcType="DECIMAL" property="productPrice" />
		<result column="college_uid" jdbcType="BIGINT" property="collegeUid" />
		<result column="college_name" jdbcType="VARCHAR" property="collegeName" />
		<result column="department_uid" jdbcType="BIGINT" property="departmentUid" />
		<result column="department_name" jdbcType="VARCHAR" property="departmentName" />
		<result column="level_type_uid" jdbcType="BIGINT" property="levelTypeUid" />
		<result column="level_type_name" jdbcType="VARCHAR" property="levelTypeName" />
		<result column="class_type_uid" jdbcType="BIGINT" property="classTypeUid" />
		<result column="class_type_name" jdbcType="VARCHAR" property="classTypeName" />
		<result column="teacher_uid" jdbcType="VARCHAR" property="teacherUid" />
		<result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
		<result column="station_teacher_uid" jdbcType="VARCHAR"
			property="stationTeacherUid" />
		<result column="station_teacher_name" jdbcType="VARCHAR"
			property="stationTeacherName" />
		<result column="seller_uid" jdbcType="VARCHAR" property="sellerUid" />
		<result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
		<result column="call_seller_uid" jdbcType="VARCHAR" property="callSellerUid" />
		<result column="call_seller_name" jdbcType="VARCHAR" property="callSellerName" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="state" jdbcType="VARCHAR" property="state" />
	</resultMap>
	<select id="qryOrderItemIdByperson" resultType="java.util.Map"
		parameterType="com.sxmaps.mms.vo.req.ReqPersonnelVO">
		SELECT
		a.teacher_uid AS teacherUid,
		a.station_teacher_uid
		AS stationTeacherUid,
		a.seller_uid AS sellerUid,
		a.call_seller_uid AS
		callSellerUid
		FROM
		orders_member_prop a
		INNER JOIN member b ON
		a.member_uid = b.uid
		AND b.status = '1'
		WHERE
		a.state = '1'
		AND
		a.order_item_id = #{orderItemId,jdbcType=BIGINT}
	</select>

	<select id="qryOrderUidByperson" resultType="java.util.Map"
		parameterType="com.sxmaps.mms.vo.req.ReqOrderTypeVO">
		SELECT
		a.seller_uid,
		a.call_seller_uid,
		a.station_teacher_uid
		FROM
		orders a
		WHERE
		a.uid = #{uid,jdbcType=BIGINT}
		AND
		a.order_type =
		#{orderType,jdbcType=VARCHAR}
	</select>

	<select id="qryCountByUid" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		orders a
		WHERE
		a.uid = #{uid}
	</select>
	
	<select id="qryOrdersByDeptIdVO" parameterType="com.sxmaps.mms.vo.req.ReqQryOrdersByDeptIdVO" resultType="com.sxmaps.mms.vo.resp.RespQryOrdersByDeptIdVO">
	SELECT
	  o.order_sn orderSn,
	  i.order_item_sn orderItemSn,
	  o.member_name memberName,
	  o.member_phone memberPhone,
	  o.seller_uid userId,
	  u.user_name userName,
	  i.paid_amount paidAmount,
	  o.flow_id flowId,
	  i.department_name departmentName,
	  i.class_type_name classTypeName,
	  i.level_type_name levelTypeName,
	  o.site_sn siteSn,
	  o.is_touch isTouch,
	  DATE_FORMAT(
	    IFNULL(o.order_time, o.create_time),
	    '%Y-%m-%d %H:%i:%s'
	  ) orderTime
	FROM
	  orders o,
	  orders_item i,
	  auth_user u
	WHERE o.seller_uid = u.user_id 
	  AND o.uid = i.order_uid
	  AND FIND_IN_SET(u.dept_id_sx, #{deptList,jdbcType=VARCHAR})
	  AND o.step = '7' 
	  AND o.service_state = '1' 
	  AND o.order_type = 'COMMON' 
      AND o.order_state = 'PAID'
      AND o.order_time BETWEEN #{startTime} AND #{endTime}
	</select>
</mapper>