<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxmaps.my.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sxmaps.my.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="farmers_uid" jdbcType="BIGINT" property="farmersUid"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="del" jdbcType="TINYINT" property="del"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="getUserByPhone" parameterType="string" resultMap="BaseResultMap">
        select * from users where phone = #{phone} and del = 1
    </select>
    <select id="getUsersByFarmersUid" parameterType="Long" resultMap="BaseResultMap">
        select * from users where farmers_uid = #{farmersUid} and del = 1
    </select>
    <select id="getFarmersUsersByFarmersUid" parameterType="Long" resultMap="BaseResultMap">
        select * from users where farmers_uid = #{farmersUid} and del = 1 and user_type = 1
    </select>
    <select id="getUsersListByFarmersUid" resultType="com.sxmaps.my.vo.resp.user.RespUserVO" parameterType="com.sxmaps.my.vo.req.user.ReqUserListVO">
        select
            uid userUid,
            user_name userName,
            phone phone,
            user_type userType,
            del del
        from
            users
        where
            farmers_uid = #{farmersUid}
            and del = 1
            <if test="name != null and name != ''">
                and user_name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
    </select>
    <update id="delUsers" parameterType="Long">
        update users set del = 2 where farmers_uid = #{farmersUid}
    </update>
</mapper>